body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;

  &.disabled {
    overflow: hidden;
  }
}

.section {
  box-sizing: border-box;
  overflow: hidden;

  &:nth-child(2) {
    .container {
      @include mMax {
        box-sizing: border-box;
        padding: 14.24vw 0 7.24vw 0;
        height: auto;
        min-height: 1px;
      }
    }
  }
}

.container {
  position: relative;
  height: 100vh;

  &-flex {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-direction: column;
  }

  @include mMax {
    height: auto;
    min-height: 100vh;
  }
}

.castom-image {
  background-size: contain;
  background-position: -100% center;
  background-repeat: no-repeat;
}

.social {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  li + li {
    margin-left: 0.52vw;

    @include mMax {
      margin-left: 1.449vw;
    }
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.4vw;
    width: 2.4vw;
    border: 1px solid #f9eb34;
    box-sizing: border-box;
    border-radius: 50%;
    transition: 0.2s;

    @include mMax {
      width: 7.24vw;
      height: 7.24vw;
    }

    &:hover {
      opacity: 0.5;
    }

    svg {
      display: block;
      max-width: 90%;
      max-height: 90%;

      @include mMax {
        max-width: 60%;
        max-height: 60%;
      }
    }
  }
}

.header {
  &-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 2.08vw 1.56vw;

    @include mMax {
      flex-wrap: wrap;
      padding: 4.83vw;
      padding-bottom: 2.6vw;
    }
  }

  &-logo {
    display: block;
    width: 21.46vw;

    img {
      display: block;
      width: 100%;
    }

    @include mMax {
      order: 1;
      width: 43.96vw;
      margin: 7.48vw calc(50% - 43.48vw / 2) 0;
    }
  }

  &-woman_logo {
    display: block;
    width: 10.36vw;

    @include mMax {
      width: 32.36vw;
    }

    img {
      display: block;
      width: 100%;
    }
  }
}

.page {
  &-content {
    box-sizing: border-box;
    min-height: 32.29vw;
    padding-top: 1vw;

    @include mMax {
      padding-top: 0;
    }

    .grad-btn {
      margin: 3.125vw auto 0;

      @include mMax {
        width: 48.79vw;
        height: 13.52vw;
        border-radius: 2.89vw;
        margin: 7.24vw auto 0;

        span {
          font-size: 4.34vw;
          line-height: 5.79vw;
        }

        &:before,
        &:after {
          border-radius: 2.89vw;
        }
      }
    }
  }

  &-title {
    display: block;
    font-weight: 600;
    font-size: 5vw;
    line-height: 5vw;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background: linear-gradient(to right, #07b0de 0, #53d14c 48.96%, #f9eb34 97.92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: 52.92vw;
    margin: 0 auto;
    position: relative;
    z-index: 10;

    @include mMax {
      font-size: 8.93vw;
      line-height: 10.38vw;
      max-width: 90.34vw;
    }
  }

  &-text {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 1.09vw;
    line-height: 1.35vw;
    text-align: center;
    letter-spacing: 0.03em;
    color: #333f48;
    position: relative;
    z-index: 10;

    @include mMax {
      font-size: 3.86vw;
      line-height: 4.34vw;
    }

    & + & {
      margin-top: 1.56vw;
      font-size: 0.94vw;
      line-height: 1.2vw;

      @include mMax {
        font-size: 3.38vw;
        line-height: 3.86vw;
        margin-top: 7.24vw;
      }
    }

    &_wrapper {
      max-width: 33.8vw;
      margin: 3.125vw auto 0;

      @include mMax {
        max-width: 84.54vw;
      }
    }
  }

  &-desc {
    display: block;
    box-sizing: border-box;
    margin: auto 0 0;
    padding: 2.08vw 1.56vw;
    font-weight: normal;
    font-size: 0.78vw;
    line-height: 1.19vw;
    letter-spacing: 0.03em;
    color: rgba(0, 0, 0, 0.25);

    @include mMax {
      font-size: 2.65vw;
      line-height: 3.55vw;
      padding: 0 4.83vw 0;
      padding-top: 44.3vw;
      margin-top: auto;
    }
  }
}

.blue {
  color: #0187c8;
}

.green {
  color: #53d14c;
}

.grad-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.92vw;
  width: 15.625vw;
  font-weight: 600;
  font-size: 1.25vw;
  line-height: 1.25vw;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 0.625vw;
  transition: 0.2s;

  &:hover {
    opacity: 0.5;
  }

  span {
    display: block;
    position: relative;
    z-index: 4;
    background: linear-gradient(to right, #07b0de 0%, #52d14f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(to right, #53d14d 0%, #08b0de 100%);
    border-radius: 0.625vw;
  }

  &:after {
    content: '';
    position: absolute;
    z-index: 2;
    display: block;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    left: 1px;
    top: 1px;
    border-radius: 0.625vw;
    background: #fff;

    @include mMax {
      width: calc(100% - 4px);
      left: 2px;
      height: calc(100% - 4px);
      top: 2px;
      border-radius: 2.3vw !important;
    }
  }
}

.first-screen-bg {
  position: absolute;
  display: block;

  &:nth-child(1) {
    top: 0;
    left: 15.2vw;
    width: 11.46vw;

    @include mMax {
      display: none;
    }
  }

  &:nth-child(2) {
    top: 12.96vw;
    left: 5.36vw;
    width: 16.66vw;

    @include mMax {
      width: 26.32vw;
      top: auto;
      bottom: 26.08vw;
      left: 0;
    }
  }

  &:nth-child(3) {
    right: 0;
    bottom: 3.95vw;
    width: 26.8vw;

    @include mMax {
      width: 50.89vw;
      bottom: -7.24vw;
    }
  }

  &:nth-child(4) {
    left: 3.4vw;
    bottom: 6.77vw;
    width: 2.39vw;
    height: 2.39vw;
    border-radius: 50%;
    background: #f9eb34;

    @include mMax {
      width: 13.52vw;
      height: 13.52vw;
      bottom: 43.47vw;
      left: auto;
      right: 6.03vw;
    }
  }

  &:nth-child(5) {
    right: 17.18vw;
    top: 18.125vw;
    width: 6.35vw;
    height: 6.35vw;
    border-radius: 50%;
    background: #faed00;

    @include mMax {
      display: none;
    }
  }

  &:nth-child(6) {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 18.2vw;
    bottom: 9.95vw;
    width: 11.4vw;
    height: 11.4vw;
    border-radius: 50%;
    background: linear-gradient(135deg, #05afe4 0%, #56d347 100%);

    span {
      display: block;
      font-weight: 600;
      font-size: 1.25vw;
      line-height: 1.46vw;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #ffffff;
    }

    @include mMax {
      width: 28.01vw;
      height: 28.01vw;
      left: 21.9vw;
      bottom: 7.34vw;

      span {
        font-size: 2.89vw;
        line-height: 3.62vw;
      }
    }
  }

  &:nth-child(7) {
    right: 31.875vw;
    bottom: 4.95vw;
    width: 3.38vw;
    height: 3.38vw;
    border-radius: 50%;
    background: linear-gradient(135deg, #05afe4 0%, #56d347 100%);

    @include mMax {
      width: 15.45vw;
      height: 15.45vw;
      top: 37.74vw;
      left: -7.5vw;
    }
  }

  &:nth-child(8) {
    top: 4.375vw;
    right: 24.3vw;
    width: 2.39vw;
    height: 2.39vw;
    border-radius: 50%;
    background: #edf3fe;

    @include mMax {
      right: 12.56vw;
      top: 17.14vw;
      width: 7.72vw;
      height: 7.72vw;
    }
  }
}

.slider {
  height: 100vh;
  will-change: auto;

  @include mMax {
    height: 141vw;

    .flickity-viewport {
      overflow: visible;
    }
  }

  &-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    box-sizing: border-box;
    padding: 0 2vw;
    will-change: auto;

    @include mMax {
      position: relative;
      height: 150vw;
      padding: 0;
      padding-bottom: 9.66vw;
    }
  }

  &-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 3.38vw 2.34vw;
    background: #ffffff;
    box-shadow: 0px 4px 24px rgba(73, 130, 94, 0.14);
    border-radius: 0.625vw;
    height: 100%;
    z-index: 5;
    transition: 0.2s;
    will-change: auto;

    @include mMax {
      height: 141vw;
      padding: 7.24vw 3.62vw;
      box-shadow: 0px 4px 24px rgba(73, 130, 94, 0.14);
      border-radius: 2.89vw;
    }

    .grad-btn {
      flex-shrink: 0;

      @include mMax {
        width: 48.79vw;
        height: 10.38vw;
        border-radius: 2.89vw;
        margin: 5.31vw auto 0;

        span {
          font-size: 4.34vw;
          line-height: 5.79vw;
        }

        &:before,
        &:after {
          border-radius: 2.89vw;
        }
      }
    }

    &_wrapper {
      box-sizing: border-box;
      min-height: 100%;
      padding: 1.56vw 0;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 33.64vw;
      will-change: auto;

      @include mMax {
        width: 90.57vw;
        margin: 0 20vw;
        padding: 0;
        padding-bottom: 9.66vw;
      }

      &.is-selected {
        .slider-item_before {
          display: none;
        }

        & + .slider-item_wrapper {
          @include mMin {
            .slider-item {
              transform: translateX(-5vw) !important;

              .slider-item_before {
                left: auto;
                right: -1.04vw;
                border-radius: 0 12px 12px 0;
                border: 1px solid #08b0de;

                @include mMax {
                  display: block;
                }
              }
            }
          }
        }
      }

      &.removes {
        @include mMin {
          .slider-item {
            transform: translateX(-5vw) !important;

            .slider-item_before {
              left: auto;
              right: -1.04vw;
              border-radius: 0 12px 12px 0;
              border: 1px solid #08b0de;

              @include mMax {
                display: block;
              }
            }
          }
        }
      }
    }

    & > * {
      position: relative;
      z-index: 4;
    }

    &:before {
      content: '';
      position: absolute;
      z-index: 1;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, #53d14d 0%, #08b0de 100%);
      border-radius: 0.625vw;

      @include mMax {
        border-radius: 2.89vw;
      }
    }

    &:after {
      content: '';
      position: absolute;
      z-index: 1;
      display: block;
      left: 1px;
      top: 1px;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      border-radius: 0.625vw;
      background-color: #fff;

      @include mMax {
        border-radius: 2.89vw;
      }
    }

    &_before {
      position: absolute;
      top: 3.4vw;
      left: -1.04vw;
      width: 1.04vw;
      height: calc(100% - 6.8vw);
      box-sizing: border-box;
      border-radius: 0.625vw 0 0 0.625vw;
      border: 1px solid #53d14d;
      border-right: 0;
    }
  }

  &-title {
    display: block;
    font-weight: 600;
    font-size: 2.5vw;
    line-height: 2.7vw;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background: linear-gradient(to right, #07b0de 0, #53d14c 48.96%, #f9eb34 97.92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    flex-shrink: 0;
    padding-bottom: 1vw;
    transition: 0.2s;
    will-change: auto;

    @include mMax {
      font-size: 7.72vw;
      line-height: 8.69vw;
      transition: none;
    }
  }

  &-image {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.2s;
    will-change: auto;
    margin: 0 auto;
    object-fit: contain;

    @include mMax {
      transition: none;
    }

    &_wrapper {
      position: relative;
      margin: auto 0 1.19vw;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 1px;
      height: auto;
      width: 100%;
      transition: 0.2s;
      max-height: 62%;
      flex-grow: 1;

      @include mMax {
        transition: none;
        box-sizing: border-box;
        padding: 2vw 0;
      }
    }
  }

  &-text {
    display: block;
    box-sizing: border-box;
    font-weight: normal;
    font-size: 1.09vw;
    line-height: 1.25vw;
    text-align: center;
    letter-spacing: 0.03em;
    color: #333f48;
    flex-shrink: 0;
    padding: 0 0 2.04vw 0;
    margin-top: auto;
    transition: 0.2s;

    @include mMax {
      font-size: 3.38vw;
      line-height: 4.34vw;
      transition: none;
    }
  }

  .slider-item_wrapper:not(.is-selected) {
    @include mMin {
      .slider-item {
        height: calc(100% - 11.97vw);
        width: 25.57vw;
        z-index: 2;
        padding: 3.38vw 2.34vw;
        transform: translateX(5vw);

        .slider-title {
          font-size: 1.4vw;
          line-height: 1.48vw;
        }

        .slider-text {
          font-size: 0.83vw;
          line-height: 0.93vw;
        }

        .slider-text {
          padding-bottom: 0;
        }

        .grad-btn {
          display: none;
        }

        .castom-image {
          background-size: cover;
          min-height: 15vw;
          background-position: 200% center;
        }
      }
    }
  }
}

.flickity-button {
  width: 2.6vw;
  height: 2.6vw;
  transition: 0.2s;

  @include mMax {
    display: none !important;
  }

  svg {
    display: none;
  }

  background: #fff center / cover url(../img/slick-prev.svg) no-repeat;

  &:hover {
    opacity: 0.5;
  }
}

.flickity-button.previous {
  background: #fff center / cover url(../img/slick-prev.svg) no-repeat;
}

.flickity-button.next {
  background: #fff center / cover url(../img/slick-next.svg) no-repeat;
}

.slider-wrapper {
}

.bac-slider {
  height: 100vh;
  margin: 0 auto;

  .flickity-page-dots {
    bottom: -10.66vw;
  }

  @include mMax {
    height: auto;

    .flickity-viewport {
      overflow: visible;
    }

    .slider-image_wrapper {
      height: 77.29vw;
    }
  }

  &_title {
    display: block;
    background: linear-gradient(to right, #07b0de 0%, #53d14c 48.96%, #f9eb34 97.92%);
    font-weight: 600;
    font-size: 1.875vw;
    line-height: 2.18vw;
    width: 24.11vw;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 3.02vw;
    margin-left: 6.04vw;

    @media screen and (max-height: 700px) {
      margin-bottom: 0.02vw;
    }

    @include mMax {
      font-size: 8.69vw;
      line-height: 10.14vw;
      width: 100%;
      margin: 0 0 8.45vw;
    }
  }

  &_text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 1.04vw;

    @media screen and (max-height: 700px) {
      padding-bottom: 0.44vw;
    }

    @include mMax {
      width: 100%;
      padding-bottom: 0;

      & + & {
        margin-top: 4.34vw;
      }
    }

    p {
      display: block;
      font-weight: normal;
      font-size: 0.93vw;
      line-height: 1.19vw;
      letter-spacing: 0.03em;
      color: #333f48;

      @include mMax {
        font-size: 3.38vw;
        line-height: 4.34vw;
      }
    }
  }

  &_icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.65vw;
    height: 2.65vw;
    border-radius: 50%;
    flex-shrink: 0;
    margin-right: 4.42vw;

    @include mMax {
      width: 12.31vw;
      height: 12.31vw;
    }

    &:before {
      content: '';
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: linear-gradient(to right, #53d14d 0%, #08b0de 100%);
    }

    &:after {
      content: '';
      position: absolute;
      z-index: 1;
      left: 1px;
      top: 1px;
      display: block;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      border-radius: 50%;
      background-color: #fff;
    }

    span {
      position: relative;
      z-index: 4;
      background: linear-gradient(to right, #07b0de 0%, #53d14c 48.96%, #f9eb34 97.92%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: normal;
      font-size: 1.56vw;
      line-height: 1.56vw;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;

      @include mMax {
        font-size: 7.24vw;
        line-height: 7.24vw;
      }
    }
  }

  &_content {
    width: 29vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;

    @include mMax {
      width: 100%;

      .grad-btn {
        display: none !important;
      }
    }

    .slider-image {
      margin-bottom: 1.56vw;
    }

    .grad-btn {
      margin: 0 auto;
      flex-shrink: 0;
    }
  }

  &_col {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: stretch;
    align-items: flex-start;
    flex-direction: column;

    &:nth-child(1) {
      width: calc(50% - 1.3vw);

      @include mMax {
        width: 100%;
        padding: 7.62vw 3.62vw 9.66vw;
        border-bottom: 1px dashed #53d14d;
      }
    }

    &:nth-child(2) {
      width: calc(50% + 1.3vw);

      .grad-btn {
        display: none;

        @include mMax {
          display: flex;
        }
      }

      @include mMax {
        width: 100%;
        padding: 3.62vw;
      }

      &:before {
        content: '';
        position: absolute;
        left: 1.25vw;
        top: -2.76vw;
        height: calc(100% + 2.76vw + 4.27vw);
        width: 2px;
        background: center / cover url(../img/dash.svg) no-repeat;

        @include mMax {
          top: 0;
          height: 100%;
          left: 9.25vw;
        }
      }
    }
  }

  &_item {
    position: relative;
    width: 75.1vw;
    height: 100%;
    box-sizing: border-box;
    padding: 2.76vw 0.67vw 4.27vw 1.66vw;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    opacity: 0;
    transition: 0.2s;
    border-radius: 0.625vw;

    @include mMax {
      display: block;
      height: auto;
      width: 90.57vw;
      box-shadow: 0px 4px 24px rgba(73, 130, 94, 0.14);
      padding: 0;
      border-radius: 2.89vw;
      transition: none;

      .slider-title {
        width: 100%;
        padding: 1vw 0;
      }

      .grad-btn {
        display: flex;
        width: 48.79vw;
        height: 10.38vw;
        border-radius: 2.89vw;
        margin: 5.55vw auto 0;

        span {
          font-size: 4.34vw;
          line-height: 5.79vw;
        }

        &:before,
        &:after {
          border-radius: 2.89vw;
        }
      }
    }

    &-before {
      position: absolute;
      left: -1.04vw;
      top: 1.45vw;
      height: calc(100% - 2.9vw);
      width: 1.04vw;
      box-sizing: border-box;
      border-radius: 1.04vw 0 0 1.04vw;
      border: 1px solid #53d14d;
      border-right: 0;

      @include mMax {
        display: none;
      }
    }

    &-after {
      position: absolute;
      right: -1.04vw;
      top: 1.45vw;
      height: calc(100% - 2.9vw);
      width: 1.04vw;
      box-sizing: border-box;
      border-radius: 0 1.04vw 1.04vw 0;
      border: 1px solid #08b0de;
      border-left: 0;

      @include mMax {
        display: none;
      }
    }

    &-wrapper {
      box-sizing: border-box;
      padding: 1.56vw 0;
      height: 100%;

      @include mMax {
        padding: 0;
        height: auto;
      }

      &.is-selected {
        z-index: 10;
        .bac-slider_item {
          opacity: 1;
        }
      }
    }

    & > .bac-slider_col {
      z-index: 4;
      position: relative;
    }

    &:before {
      content: '';
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 1.04vw;
      background: linear-gradient(to right, #53d14d 0%, #08b0de 100%);

      @include mMax {
        border-radius: 2.89vw;
      }
    }

    &:after {
      content: '';
      position: absolute;
      z-index: 2;
      left: 1px;
      top: 1px;
      display: block;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      background-color: #fff;
      border-radius: 1.04vw;

      @include mMax {
        border-radius: 2.89vw;
      }
    }

    .slider-title {
      padding-bottom: 0;
      margin-bottom: 2.81vw;
    }
  }

  &_mif {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;
    padding: 0.52vw 0.78vw 0.52vw 5.04vw;
    background: linear-gradient(91.97deg, #53d14d 3.53%, #08b0de 100%);
    border-radius: 0.625vw;
    margin-top: auto;
    margin-left: -1.04vw;
    min-height: 7.18vw;
    max-height: 11.18vw;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include mMax {
      margin-top: 5.55vw;
      margin-left: -6vw;
      padding: 2.89vw 3.62vw 2.89vw 23.18vw;
      height: 46.8vw;
      max-height: none;
      width: 95.41vw;
      border-radius: 2.89vw;
    }

    &-false {
      display: block;

      &.is-disabled {
        display: none;
      }
    }

    &-true {
      display: none;

      &.is-active {
        display: block;
      }
    }

    &-text {
      position: absolute;
      left: -0.22vw;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 1.25vw;
      line-height: 2.18vw;
      text-align: center;
      letter-spacing: 0.23em;
      text-transform: uppercase;
      color: #21a038;
      text-align: center;
      text-shadow: 1px -1px 0px rgba(17, 89, 30, 0.3);
      transform: rotate(-90deg);
      width: 5vw;
      height: 100%;
      box-sizing: border-box;
      padding-left: 2px;
      height: 1.71vw;

      &:before {
        content: '';
        right: -1.14vw;
        top: 51%;
        position: absolute;
        display: block;
        width: 1.19vw;
        border: 1px dashed #ffffff;

        @include mMax {
          display: none;
        }
      }

      &:after {
        content: '';
        top: 51%;
        left: -1.14vw;
        position: absolute;
        display: block;
        width: 1.19vw;
        border: 1px dashed #ffffff;

        @include mMax {
          display: none;
        }
      }

      @include mMax {
        left: 9vw;
        font-size: 5.79vw;
        line-height: 5.79vw;
      }
    }

    &-content {
      overflow: auto;
      margin-right: -2.56vw;
      padding-right: 2.56vw;

      @include mMax {
        padding-right: 20vw;
        margin-right: -20vw;
      }

      p {
        font-weight: 600;
        font-size: 0.72vw;
        line-height: 0.9vw;
        letter-spacing: 0.03em;
        color: #ffffff;
        box-sizing: border-box;
        padding-right: 1.56vw;

        @include mMax {
          font-size: 2.1vw;
          line-height: 3vw;
          padding: 0;
        }
      }
    }

    &-icon {
      position: absolute;
      top: 0.52vw;
      right: 0.52vw;
      display: block;
      width: 1.56vw;
      height: 1.56vw;
      cursor: pointer;

      @include mMax {
        height: 4.58vw;
        width: 4.58vw;
      }
    }
  }

  &-burger {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    height: 1.97vw;
    width: 1.97vw;
    top: 1.71vw;
    right: 1.4vw;
    background: center / cover url(../img/burger.svg) no-repeat;

    @include mMax {
      top: 2.42vw;
      right: 2.42vw;
      width: 5.31vw;
      height: 5.31vw;
    }
  }
}

.sub-slider-wrapper {
  opacity: 0;
  z-index: -10;
  transition: 0.2s;

  &.is-active {
    opacity: 1;
    z-index: 10;

    @include mMax {
      position: relative;
      z-index: 10;
    }
  }

  @include mMax {
    height: auto;
    position: absolute;
    z-index: -10;
    transition: none;
  }
}

.main-slider-wrapper {
  transition: 0.2s;

  &.is-disabled {
    opacity: 0;
    z-index: -10;

    @include mMax {
      position: absolute;
    }
  }
}

.description-btn {
  position: absolute;
  bottom: 1vw;
  left: 50%;
  width: 1.4vw;
  height: 1.4vw;
  margin-left: -0.7vw;
  opacity: 0.4;
  transition: 0.2s;
  animation: 3s infinite flick;

  @include mMax {
    display: none;
  }

  svg {
    transform: rotate(90deg);
  }

  &.is-disabled {
    opacity: 0;
  }
}

.description-content {
  box-sizing: border-box;
  padding: 1.19vw 8.85vw 3.125vw;
  background: #f4f5f6;
  overflow: hidden;

  @include mMax {
    padding: 4.32vw 13.52vw;
  }

  p {
    font-weight: normal;
    font-size: 0.625vw;
    line-height: 1.09vw;
    text-align: center;
    letter-spacing: 0.03em;
    color: #636565;
    opacity: 0.5;
    overflow-y: auto;

    @include mMax {
      height: 40.09vw;
      font-size: 2.17vw;
      line-height: 2.41vw;
      padding-right: 20.24vw;
      margin-right: -20.24vw;
    }
  }
}

@keyframes flick {
  0% {
    transform: translateY(-80%);
  }

  50% {
    transform: translateY(80%);
  }

  100% {
    transform: translateY(-80%);
  }
}

.dictionary {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -100;
  opacity: 0;
  transition: opacity 0.2s;

  &.is-active {
    z-index: 100;
    opacity: 1;
  }

  &__content {
    position: absolute;
    box-sizing: border-box;
    z-index: 99;
    height: auto;
    width: 75.1vw;
    background: linear-gradient(91.97deg, #53d14d 3.53%, #08b0de 100%);
    border-radius: 0.625vw;
    padding: 1.5625vw 1.5625vw 3.593vw 4.01vw;

    @include mMax {
      width: 100vw;
      height: 100vh;
      overflow: auto;
      padding: 11.35vw 4.83vw 3.86vw 4.1vw;
      border-radius: 2.89vw;
    }
  }

  &__overlay {
    position: absolute;
    z-index: 98;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(23, 32, 45, 0.25);
  }

  &__title {
    display: block;
    font-weight: 600;
    font-size: 2.5vw;
    line-height: 2.7vw;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 2.5vw;

    @include mMax {
      font-size: 5.07vw;
      line-height: 5.79vw;
      margin-bottom: 3.62vw;
    }
  }

  &__catalog {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: -1.04vw;

    @include mMax {
      display: block;
      margin-bottom: 0;
    }
  }

  &__row {
    width: calc(50% - 1.8vw);
    margin-right: auto;

    @include mMax {
      box-sizing: border-box;
      width: 100%;
      padding-left: 2.41vw;

      & + & {
        margin-top: 7.24vw;
      }
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1.04vw;

    @include mMax {
      margin-bottom: 0;

      & + & {
        margin-top: 7.24vw;
      }
    }
  }

  &__icon {
    display: block;
    flex-shrink: 0;
    margin-right: 1.4vw;
    width: 1.14vw;
    height: 1.14vw;

    @include mMax {
      width: 5vw;
      height: 4vw;
      margin-right: 3.38vw;
      margin-top: 1vw;
    }
  }

  &__text {
    font-weight: normal;
    font-size: 0.93vw;
    line-height: 1.19vw;
    letter-spacing: 0.03em;
    color: #ffffff;

    @include mMax {
      font-size: 3.86vw;
      line-height: 4.34vw;
    }

    b {
      font-weight: bold;
      font-size: 1.25vw;
      letter-spacing: 0.03em;
      color: #ffffff;

      @include mMax {
        font-size: 4.34vw;
        line-height: 5.55vw;
      }
    }
  }

  &__sale {
    position: relative;
    box-sizing: border-box;
    padding: 2.03vw 2.18vw 1.45vw 4.42vw;
    background: #f9eb34;
    border-radius: 0.625vw;
    margin-top: 2.04vw;

    @include mMax {
      padding: 4.83vw 5.31vw 4.1vw 14.97vw;
      margin-top: 7.24vw;
      border-radius: 2.89vw;
    }

    p {
      display: block;
      font-weight: 600;
      font-size: 0.93vw;
      line-height: 1.19vw;
      letter-spacing: 0.03em;
      color: #17202d;

      @include mMax {
        font-size: 3.86vw;
        line-height: 4.34vw;
      }
    }

    &-icon {
      position: absolute;
      left: 0.83vw;
      bottom: -0.88vw;
      display: block;
      transform-origin: top left;
      transform: rotate(-90deg);
      font-weight: bold;
      font-size: 1.25vw;
      line-height: 2.18vw;
      text-align: center;
      letter-spacing: 0.23em;
      text-transform: uppercase;
      color: #21a038;
      text-shadow: 1px -1px 0px rgba(17, 89, 30, 0.3);

      @include mMax {
        font-size: 5.79vw;
        line-height: 10.14vw;
        bottom: -2vw;
      }
    }
  }
}

.dictionary-remove-btn {
  width: 3.54vw;
  height: 3.54vw;
  position: absolute;
  right: 0.78vw;
  top: 0.78vw;
  cursor: pointer;

  @include mMax {
    width: 12.8vw;
    height: 12.8vw;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.dictionary-btn {
  cursor: pointer;
}

.slider-item {
  &--before {
    display: none;
    position: absolute;
    top: 2.41vw;
    left: -2.41vw;
    height: calc(100% - 4.82vw);
    width: 2.41vw;
    border-radius: 2.89vw 0 0 2.89vw;
    border: 1px solid #53d14d;
    border-right: 0;

    @include mMax {
      display: block;
    }
  }

  &--after {
    display: none;
    position: absolute;
    top: 2.41vw;
    right: -2.41vw;
    height: calc(100% - 4.82vw);
    width: 2.41vw;
    border-radius: 0 2.89vw 2.89vw 0;
    border: 1px solid #08b0de;
    border-left: 0;

    @include mMax {
      display: block;
    }
  }
}

.flickity-page-dots {
  display: none !important;

  @include mMax {
    display: block !important;
    bottom: -8.3vw;

    .dot {
      width: 3.62vw;
      height: 3.62vw;
      margin: 0 0.72vw;
      opacity: 1;
      background: #edf3fe;

      &.is-selected {
        background: #56d347;
      }
    }
  }
}

.flickity-viewport {
  transition: height 0.2s;
}
